
<mat-card>
  <img mat-card-image src="{{item.images[0]}}" loading="lazy" alt="/assets/placeholder-image.png"> 
  <mat-card-title class="title">
    <span class="marquee">
    {{item.title}}
  </span>
    <button class="fav_button" mat-icon-button>
      <mat-icon>
        favorite_border
      </mat-icon>
    </button>
  </mat-card-title>
  <mat-card-subtitle>
    {{item.price | currency:"USD"}}
  </mat-card-subtitle>
  <mat-card-footer>
    <button class="profile-button" mat-icon-button>
      <img class="profile-image" src="{{item.sellerImageURL}}">
    </button>
    {{item.sellerName}}
  </mat-card-footer>
</mat-card>