<ion-content style="max-height: 91%;">
  <router-outlet></router-outlet>
</ion-content>
<div class="arrows">
  <p class="top-arrow">^</p>
</div>
<div class="cupertino-pane">
  
  <div class="cupertino-pane-header">
    <button mat-icon-button class="profile-button">
      <img class="profile-button-img"
        src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png">
    </button>
    <span class="page-title" (click)="open()">{{pages[activePageIndex].title}}</span>
    <button mat-icon-button class="search-button">
      <mat-icon [inline]="true" style="font-size: 32px;">
        search
      </mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
  <div class="menu-items-container">
    <div *ngFor="let page of pages; let i = index" class="menu-item">
      <button (click)="changeRoute(i)" *ngIf="activePageIndex != i; else selectedButton" mat-button
        class="menu-item-button">
        <mat-icon [inline]="true" class="menu-item-icon">
          {{page.icon}}
        </mat-icon>
        <span class="menu-item-title">{{page.title}}</span>
      </button>
      <ng-template #selectedButton>
        <button (click)="changeRoute(i)" mat-button class="menu-item-button-selected">
          <mat-icon [inline]="true" class="menu-item-icon">
            {{page.icon}}
          </mat-icon>
          <span class="menu-item-title">{{page.title}}</span>
        </button>
      </ng-template>
      <mat-divider>
      </mat-divider>
    </div>
  </div>
</div>