<html>
<div class="content">
    <b>
      <p class="title">
        Hot Items 🔥
      </p>
      <div class="section">
        <app-item-card></app-item-card>
        <app-item-card></app-item-card>
        <app-item-card></app-item-card>
        <app-item-card></app-item-card>
        <app-item-card></app-item-card>
      </div>
    </b>
    <mat-divider [inset]="true"></mat-divider>
  <div class="categories-section">
    <mat-card class="category">example cat</mat-card>
    <mat-card class="category">example cat</mat-card>
    <mat-card class="category">example cat</mat-card>
    <mat-card class="category">example cat</mat-card>
    <mat-card class="category">example cat</mat-card>
    <mat-card class="category">example cat</mat-card>
    <mat-card class="category">example cat</mat-card>
    <mat-card class="category">example cat</mat-card>
    <mat-card class="category">example cat</mat-card>
    <mat-card class="category">example cat</mat-card>
    <mat-card class="category">example cat</mat-card>
    <mat-card class="category">example cat</mat-card>
  </div>
  <mat-divider [inset]="true"></mat-divider>
    <b>
      <p class="title">
        People you follow 👀
      </p>
    </b>
    <div class="section">
      <app-item-card></app-item-card>
    </div>
    <mat-divider [inset]="true"></mat-divider>
    <b>
      <p class="title">
        Items you might be interested in 🤩
      </p>
    </b>
    <div class="section">
      <app-item-card></app-item-card>
    </div>
</div>

</html>