.category{
    border-radius: 40px;
    width: 6em;
    height: 2em;
    margin: 4%;
    animation: collapsing-in 1s ;
    animation-timing-function: ease-out;
}
app-item-card{
    padding: 2%;
}
.title-container{
    width: 100%;
    margin-left: 2%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
}
.more-button{
    left: 100%
}
.more-button-interest{
    left: 4.8%;
}
.more-button-follow{
    left: 50.8%;
}
.category-title{
    font-size: 100%;
    text-align: center;
    opacity: 80%;
}
.title{
    font-size: 130%;
}
.section{
    display: flex;
    flex-direction: row;
    overflow: auto;
}
@keyframes collapsing-in{
    0%{
        width: 0%;
        height: 0%;
        transform: translateY(200%);
    }
    100%{
        width: 6em;
        height: 2em;
        transform: translateY(0%);
    }
}
.categories-section{
    padding: 2%;
    will-change: contents;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: column;
    column-gap: 4%;
}
html{
    font-size: 100%;
}
.content{
    overflow-x: hidden;
}
.placeholder{
    width: 100%;
    height: 12em;
    display: flex;
    flex-direction: row;
}
.placeholder>*{
    width: 40%;
    height: 11em;
}