<html>
<div class="content">
  <div class="title-container">
    <b>
      <span class="title">
        Hot Items 🔥
      </span>
      <button class="more-button" mat-button color="primary">MORE...</button>
    </b>
  </div>
  <div class="section">
    <app-item-card *ngFor="let item of itemsService.hotItems" [item]="item"></app-item-card>
  </div>
  <mat-divider [inset]="true"></mat-divider>
  <div class="categories-section">
    <mat-card matRipple class="category" *ngFor="let category of itemsService.categories">
      <mat-card-title class="category-title">{{category}}</mat-card-title>
    </mat-card>
  </div>
  <mat-divider [inset]="true"></mat-divider>
  <div class="title-container">
    <b>
      <span class="title">
        People you follow 👀
      </span>
      <button class="more-button-follow" mat-button color="primary">MORE...</button>
    </b>
  </div>
    <div class="section">
      <app-item-card *ngFor="let item of itemsService.followItems" [item]="item"></app-item-card>
    </div>
  <mat-divider [inset]="true"></mat-divider>
  <div class="title-container">
    <b>
      <span class="title">
        Items you might be interested in 🤩
      </span>
      <button class="more-button-interest" mat-button color="primary">MORE...</button>
    </b>
  </div>
  <div class="section">
    <app-item-card-big *ngFor="let item of itemsService.interestItems" [item]="item"></app-item-card-big>
  </div>
</div>

</html>