<ion-app>
  <div class="content">
    <b class="title">
      <p>
        Manage Listings
      </p>
    </b>
    <div class="grid">
      <ng-container *ngIf="itemsService.sellerItems != null else invalidBlock">
        <app-item-card-big class="item" *ngFor="let item of itemsService.sellerItems" [item]="item"></app-item-card-big>
      </ng-container>
      <ng-template #invalidBlock>
        <app-item-skeleton></app-item-skeleton>
        <app-item-skeleton></app-item-skeleton>
        <app-item-skeleton></app-item-skeleton>
        <app-item-skeleton></app-item-skeleton>
        <app-item-skeleton></app-item-skeleton>
        <app-item-skeleton></app-item-skeleton>
      </ng-template>
    </div>
    <button class="mat-fab" mat-fab (click)="addClick()"><mat-icon>add</mat-icon></button>
  </div>
</ion-app>