/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";
//@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming';

@include mat-core();

$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink);
$warn:    mat-palette($mat-red);

$theme: mat-dark-theme($primary, $accent, $warn);
$theme-dark: mat-dark-theme($primary, $accent, $warn);
$theme-light: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme-light);
@media (prefers-color-scheme: dark) {
    @include angular-material-theme($theme-dark);
    :root{
        background-color: #303030;
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    @include angular-material-theme($theme-light);
    :root{
        background-color: white;
        color: black;
    }
}
@font-face {
    font-family: 'Ubuntu';
    src: url('/assets/fonts/Ubuntu-LightItalic.ttf')format("truetype");
    font-weight: 100;
    font-style: normal;
  }

.shimmer-animate{
    animation: shimmer 2s infinite;
    background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
    background-size: 300% 100%;
}
@keyframes shimmer{
    0%{
        background-position: -300% 0;
    }
    100%{
        background-position: 300% 0;
    }
}

// /* Basic CSS for apps built with Ionic */
// @import "~@ionic/angular/css/normalize.css";
// @import "~@ionic/angular/css/structure.css";
// @import "~@ionic/angular/css/typography.css";
// @import '~@ionic/angular/css/display.css';

// /* Optional CSS utils that can be commented out */
// @import "~@ionic/angular/css/padding.css";
// @import "~@ionic/angular/css/float-elements.css";
// @import "~@ionic/angular/css/text-alignment.css";
// @import "~@ionic/angular/css/text-transformation.css";
// @import "~@ionic/angular/css/flex-utils.css";
